footer {
    text-align: center;
    background-color: var(--bg-footer);
    color: var(--color-text-footer);
}

footer ul li{
    list-style: none;
}

footer a, a:hover{
    text-decoration: none;
    color: var(--color-text-footer);
}


