.dropdown-menu {
    background-color: var(--bg-dropdown-menu);
}

.menu .btn {
    background-color: var(--bg-btn-menu);
    color: var(--color-text-btn-menu);
    box-shadow: none;
}

.menu .btn:hover,
.menu .btn:focus{
    background-color: var(--bg-btn-menu-hover);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}