.img {
	height: calc(100vh - var(--height-menu));
}

.carousel-caption{
	position: absolute;
	color: var(--color-text-caption-banner);
	font-family: 'Prompt', sans-serif;

	width: 100%;
	background-color: var(--bg-caption-banner);
	right: 0;
	left: 0;
}

.carousel-caption:hover{
	transition: 1s;
	font-size: 2em;
	font-style: italic;
}

.slide .btn {
	background-color: var(--bg-btn-banner);
	color: var(--color-text-btn-banner);
}

.slide .btn:hover {
	background-color: var(--bg-btn-banner-hover);
	color: var(--color-text-btn-banner);
}