.img {
	height: calc(100vh - var(--height-menu));
}

.carousel-caption{
	position: absolute;
	color: #fff;
	font-family: 'Prompt', sans-serif;

	width: 100%;
	background-color: rgb(0,0,0,.5);
	right: 0;
	left: 0;
}

.carousel-caption:hover{
	transition: 1s;
	font-size: 2em;
	font-style: italic;
}