@import '../../main/variables.scss';



.card-recent-activities {
	width: 300px;
	height: 600px;
	
	//background-color: $--bg-card-recent-activities;
	color: $--color-text-card-recent-activities;
}


.card-text{
	font: Regular 21px/28px Segoe UI;
	font-size: 20px;
}

.card-recent-activities .card-title {
	color: $--color-text-card-title-recent-activities;
	font: Bold;
	font-size: 25px;
}


.card-recent-activities a {
	color: $--color-text-btn-recent-activities;
	background-color: $--bg-btn-card-recent-activities;
}

.card-recent-activities a:hover {
	color: $--color-text-btn-recent-activities;
	background-color: $--bg-btn-card-recent-activities-hover;
}
