@import '../../main/variables.scss';



.recent-activities{
	//background: linear-gradient(132deg, $--color-team-background-color, white);
	background-image: linear-gradient(white, $--color-team-background-color);
}
.recent-activities h4 {
	color: $--color-text-title-recent-activities;
	text-align: center;
    font-size: 25pt;
}
