.menu li a {
    color: var(--color-text-btn-menu);
    text-decoration: none;
}

.menu li {
    transition: 500ms;
}

.menu li:hover {
    color: var(--color-text-btn-menu);
    text-decoration: none;
    background-color: var(--bg-btn-menu-hover);
    border-radius: 5px;
}

.menu div {
    margin-right: 15px;
}

.menu li a {
    padding-right: 5px;
}