@import '../../../main/variables.scss';

.img-team {
	width: 100%;
	text-align: center;
}

.d-inline-flex {
	
	width: 70%;
	margin-left: 9%;
}

.email-team {
	color: $--color-text-email-team;
	font-size: 12pt;
	text-align: center;
}

.title-name-team {
	color: $--color-title-name-team;
}

.email-team:hover {
	color: $--color-text-email-team-hover;
}

.figure-caption {
	text-align: left;
	font: Bold 20px/50px Source Sans Pro;
	letter-spacing: 0;
	color: #707070;
	opacity: 1;
}

.figure-caption1 {
	text-align: left;
	font: Regular 10px/20px Source Sans Pro;
	letter-spacing: 0;
	color: #707070;
	opacity: 1;
}
