@import '../../../main/variables.scss';

.img-team {
	width: 100%;
	text-align: center;
}

.email-team {
	color: $--color-text-email-team;
	font-size: 10pt;
	text-align: center;
	word-wrap: break-word;
	
}

.title-name-team {
	color: $--color-title-name-team;
	
}

.email-team:hover {
	color: $--color-text-email-team-hover;
}

.figure-caption {
	text-align: left;
	color: #707070;
}
