footer {
    text-align: center;
    background-color: var(--bg-footer);
    color: var(--color-text-footer);
}

footer ul li{
    list-style: none;
}

footer a, footer a:hover{
    text-decoration: none;
    color: var(--color-text-footer);
}


.icon-social:hover{
    color: var(--color-text-icon-social-hover);
    transition: 500ms;
}