@import '../../main/variables.scss';

.title-team {
	color: $--color-title-team;
	//padding:2%;
}

.background-yellow {
	background: linear-gradient(132deg, $--color-team-background-color, white);
	opacity: 1;
}

.capitular-letter{
	color: black;
}

.text-team {
	top: 700px;
	font-size: 15pt;
	text-align: justify;
	letter-spacing: 0;
	color: $--color-text-team-about;
	opacity: 1;
	width: 100%;
	padding: 50px;
	max-width: 1000px;

}


.capitular-letter{
    font-size: 20pt;
}

.text-team p{
	color: black;
}


   
