@import '../../main/variables.scss';

.title-team {
	color: $--color-title-team;
}

.background-yellow {
	background: linear-gradient(132deg, $--color-team-background-color, white);
	opacity: 1;
}

.capitular-letter{
	color: black;
}

.text-team {
	top: 710px;
	margin-left: 350px;
	margin-right: 340px;
	margin-bottom: 50px;
	width: 3000px;
	font-size: 15pt;


	text-align: justify;
	letter-spacing: 0;
	color: $--color-text-team-about;
	opacity: 1;
}

.text-team p{
	color: black;
}