.card-diary {
    min-height: 50px;
    background-color: var(--bg-border-menu);
    border-radius: 10px;
    width: 100%;
   /* color: var(--color-text-card-diary);*/
   color: black;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

a.link-diary{
    text-decoration: none;
}

.card-diary h4 {
    margin: 0;
}

.diary .btn:hover{
    background-color: var(--bg-card-diary-hover);
    color: var(--color-text-card-diary);
}