.card-recent-activities {
    border-radius: 0.625rem;
    width: 18rem;
}


#img-top-card-recent-activities {
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
}

.card-recent-activities a {
    color: #fff;
    background-color: var(--color-2);
}

.card-recent-activities a:hover {
    color: #fff;
    background-color: var(--color-1);
}