.card-recent-activities {
    border-radius: 0.625rem;
    width: 18rem;
}


#img-top-card-recent-activities {
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
}

.card-recent-activities a {
    color: var(--color-text-btn-recent-activities);
    background-color: var(--bg-btn-card-recent-activities);
}

.card-recent-activities a:hover {
    color: var(--color-text-btn-recent-activities);
    background-color: var(--bg-btn-card-recent-activities-hover);
}