@import '../../main/variables.scss';

.cabecalho {
	background-color: $--bg-menu;

	/* Safari */
	position: -webkit-sticky;

	/*usado para se sobrepor aos demais componentes*/
	position: sticky;
	top: 0;
	z-index: 100;
}

.icon-menu {
	color: $--color-icon-menu;
}
