/* .slide {
    height: 100vh;
} */

/* =========== Centraliza o texto =========== */

.banner {
    position: relative;
}

.img-banner {
    height: calc(100vh - var(--height-menu));
}

.text-banner {
    background-color: var(--bg-text-banner);

    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    text-align: center;
}

.escuro {
    height: calc(100vh - var(--height-menu));
    width: 100%;
    background-color: var(--bg-caption-banner);
}

/* =========== Centraliza o texto =========== */

.text-banner h1, .text-banner p {
    color: var(--color-text-banner);
}