.dropdown-menu {
    background-color: #000;
}

.menu div a:hover {
    border-radius: 0;
}

.menu .btn {
    background-color: var(--color-1);
    color: #fff;
    box-shadow: none;
}

.menu .btn:hover,
.menu .btn:focus{
    background-color: rgb(27, 92, 172);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}