footer {
	text-align: center;
	background-color: var(--bg-footer);
	color: var(--color-text-footer);
}

footer ul li {
	list-style: none;
}

.footer-logo {
	width: 70%;
}

footer a,
footer a:hover {
	text-decoration: none;
	color: var(--color-text-footer);
}

footer .grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-columns: 1fr;
}

footer .grid-container .right {
	grid-column: 3;
}

.icon-social {
	font-size: 1.2em;
	transition: 500ms;
}

.icon-social:hover {
	color: var(--color-text-icon-social-hover);
}

@media (max-width: 768px) {
	footer .grid-container {
		display: flex;
	}
}
