.img {
	height: calc(100vh - var(--height-menu));
}

.carousel-caption{
	position: absolute;
	color: var(--color-text-caption-banner);
	font-family: 'Prompt', sans-serif;
	font-style: italic;
	width: 100%;
	background-color: var(--bg-caption-banner);
	right: 0;
	left: 0;
	transition: 500ms;
}

.carousel-caption:hover{
	font-size: 1.1em;
	font-style: italic;
}

.slide .btn {
	background-color: var(--bg-btn-banner);
	color: var(--color-text-btn-banner);
}

.slide .btn:hover {
	/*background-color: var(--bg-btn-banner-hover);*/
	background-color: var(--bg-card-diary-hover);
	color: var(--color-text-btn-banner);
}