.cabecalho {
    background-color: var(--bg-menu);
    border-bottom: var(--bg-border-menu) solid 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100; /*usado para se sobrepor aos demais componentes*/
}

.logo{
    width: 200px;
}

.logo img {
    height: 100%;
}

.icon-menu {
    color: var(--color-icon-menu);
}