.capitular-letter {
    color: var(--color-text-capitular-letter);
    float: left;
    padding: 1rem ; 
    font-size: 4rem;    
}

.text-about {
    font-size: 1rem;
    text-align: justify;
}

.quote {
    color: var(--color-text-quote);
}

.about blockquote p {
    font-style: italic;
}